<div class="header header-demo header-logo-center mb-4">
            <a href="index" class="header-logo">Enabled<span class="color-highlight"> Mobile</span></a>
            <a href="#" class="header-icon header-icon-1"><i class="fas fa-envelope"></i><span class="badge bg-blue-dark">5</span></a>
            <a href="#" class="header-icon header-icon-2"><i class="fas fa-bars"></i></a>
            <a href="#" class="header-icon header-icon-3"><i class="fas fa-heart color-red-light"></i></a>
            <a href="#" class="header-icon header-icon-4"><i class="fas fa-share-alt"></i></a>
        </div>