<div class="header header-demo header-logo-app mb-3">
            <a href="index" class="header-title">Tap the Right Icons</a>
            <a href="#" class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>

            <div id="header-icon-2-group">
                <button type="button" id="header-2" data-bs-toggle="dropdown" class="header-icon header-icon-2"><i class="fas fa-share-alt"></i><span class="badge bg-green-dark">3</span></button>
                <div class="dropdown-menu bg-theme border-0 shadow-l rounded-s me-2 mt-2" aria-labelledby="header-2">
                    <p class="font-10 ps-3 pe-3 font-500 mb-0">Tap to Share - Off in Demo</p>
                    <div class="divider mb-0"></div>